section.login {
  padding-top: 70px;
  padding-bottom: 50px;
}

section.login h1.heading-login {
  font-family: "Metropolis Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #222222;
}

section.login .btn-customer,
section.login .btn-seller {
  width: 123px;
  height: 48px;
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  font-family: "Metropolis Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9b9b9b;
}

section.login .btn-customer.active,
section.login .btn-seller.active {
  background-color: #273ac7;
  color: #ffffff;
  border: 1px solid transparent;
}

section.login form input.form-control {
  width: 400px;
  height: 48px;
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  font-family: "Metropolis Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9b9b9b;
  padding-left: 20px;
}

section.login form input.form-control.error {
  border: 1px solid #db3022;
}

section.login form small.text-error {
  font-family: "Metropolis Regular";
  font-weight: 400;
  color: #db3022;
}

section.login form input.form-control::-webkit-input-placeholder {
  font-family: "Metropolis Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9b9b9b;
}

section.login form input.form-control::-moz-placeholder {
  font-family: "Metropolis Medium";
  font-weight: 500;
  font-size: 14px;
  color: #9b9b9b;
}

section.login form a {
  font-family: "Metropolis Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #273ac7;
  transition: 0.5 ease;
  text-decoration: none;
}

section.login form a:hover {
  opacity: 0.6;
}

section.login form .btn-submit {
  width: 401px;
  height: 48px;
  background-color: #273ac7;
  border-radius: 25px;
  font-family: "Metropolis Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

section.login p {
  font-family: "Metropolis Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #222222;
}

section.login p a {
  color: #273ac7;
  text-decoration: none;
  transition: 0.5 ease;
}

section.login p a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 991px) {
  section.login form input.form-control,
  section.login form .btn-submit {
    width: 360px;
  }
}

@media screen and (max-width: 767px) {
  section.login form input.form-control,
  section.login form .btn-submit {
    width: 310px;
  }
}

@media screen and (max-width: 575px) {
  section.login form input.form-control,
  section.login form .btn-submit {
    width: 280px;
  }
}
