.row {
  display: flex;
  flex-direction: column;
}

div.box-side-chat {
  background: #ffffff;
  border: 1px solid #8e8e93;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 50px;
  height: 583px;
  /* padding-left: 20px; */
  padding-top: 20px;
}

div.box-main-chat {
  background: #ffffff;
  border: 1px solid #8e8e93;
  box-sizing: border-box;
  border-radius: 4px;
  height: 583px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  /* padding-left: 20px; */
  /* padding-top: 20px; */
}

p.chat-title {
  font-family: "Metropolis SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  padding-left: 20px;
  margin-bottom: 25px;
}

div.line-width {
  border: 1px solid #8e8e93;
}

img.userimg {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

p.user-name {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-family: "Metropolis SemiBold";
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

p.message-body {
  font-style: normal;
  font-weight: 400;
  font-family: "Metropolis Regular";
  font-size: 14px;
  line-height: 14px;
  color: #9b9b9b;
}

img.main-userimg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.main-username {
  font-style: normal;
  font-weight: 600;
  font-family: "Metropolis SemiBold";
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  display: inline;
  margin-left: 20px;
}

input.input-massage-body {
  background: #ffffff;
  border: 1px solid #8e8e93;
  border-radius: 23px;
  padding-left: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  position: absolute;
  bottom: 20px;
  left: 30px;
  
}
.main-chat {
  overflow-y: auto;
  height: 78%;
  padding-top: 1em;
  padding-right: 2em;
  
} 
.box-main-chat > button {
 position: absolute;
 bottom: 25px;
 right: 20px;
}
.cont-msg-send, .cont-msg-rec {
  display: flex;
  margin: .5em 0;
  align-items: center;
  width: 55%;
}
.cont-msg-rec {
  margin-left: auto;
  background-color: rgb(247,239,233,0.8);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  justify-content: flex-end;
  
}
.cont-msg-send {
  background-color: rgb(126,152,223,0.5);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.cont-msg-send > li, .cont-msg-rec > li {
  list-style: none;
}
.cont-msg-send > img, .cont-msg-rec > img {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  object-fit: cover;
  margin: .5em 1em;
}
.spanlist > p{
  margin-bottom: 0;

}
