.sidebarButtonText {
  color: #9b9b9b;
}
.sidebarButtonText {
  transition-duration: 0.11s;
}
/* DESKTOP */
@media (min-width: 768px) {
  .sidebarUser,
  .sidebarStore {
    margin-top: 3.3vw;
  }
  .sidebarUserButton,
  .sidebarStoreButton {
    margin: 0.5vw 0;
  }
  .sidebarButtonLogo {
    height: 2.5vw;
    margin-right: 1vw;
    width: 2.5vw;
  }
  .sidebarButtonText {
    font-size: 1vw;
    font-family: "Metropolis Regular";
  }
  .sidebarStoreMenu {
    margin-left: 3.5vw;
  }
  .sidebarStoreMenuButton {
    color: #a9a9a9;
    font-size: 0.88vw;
    font-family: "Metropolis Regular";
    margin: 0.5vw 0;
  }
  .sidebarStoreMenuArrowButton {
    width: 0.55vw;
  }
  .sidebarStoreMenuButton:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebarUser,
  .sidebarStore {
    border-top: 0.33vw solid #e5e5e5;
  }
  .sidebarUserButton,
  .sidebarStoreButton {
    border-bottom: 0.33vw solid #e5e5e5;
    padding: 5vw;
  }
  .sidebarButtonLogo {
    height: 12.5vw;
    margin-right: 5vw;
    width: 12.5vw;
  }
  .sidebarButtonText {
    font-size: 5vw;
    font-family: "Metropolis Regular";
  }
  .sidebarStoreMenu {
    border-bottom: 0.33vw solid #e5e5e5;
    padding: 3vw 0;
    text-align: center;
  }
  .sidebarStoreMenuButton {
    color: #a9a9a9;
    font-size: 3.8vw;
    font-family: "Metropolis Regular";
    margin: 2.2vw 0;
  }
  .sidebarStoreMenuArrowButton {
    width: 3.3vw;
  }
}
