.cont-heading-checkout > h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
    margin: 1.3em 0;
}
.col-left-checkout > h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
    margin-bottom: 15px;
}
@media (max-width: 991.98px) {
   
    .cont-heading-checkout {
        max-width: 90%;
    }
   
}

@media (max-width: 575.98px) {
    .row-checkout{
        display: flex;
        flex-direction: column;
    }
    .col-left-checkout {
        max-width: 100%;
    }
    .col-right-checkout{
        max-width: 100%;
    }
}
