/* DESKTOP */
@media(min-width: 768px) {
   .paddingFilter { border-bottom: 0.2vw solid #F4F4F4; padding: 1.5vw; }
   .filterCategoryText { font-size: 1vw; font-weight: bold; }
   .filterOption { justify-content: center; margin-top: 1.5vw; }
   .filterColorOption { height: 3vw; }
   .filterArrowLeft, .filterArrowRight { height: 1vw; width: 0.5vw; }
   .filterArrowLeft { margin-right: 0.5vw; }
   .filterArrowRight { margin-left: 0.5vw; }
   /* COLOR */
   .colorBtn, .whiteColorBtn { border-radius: 50%; padding: 1vw; }
   .colorBtnBorder, .colorBorderActive { margin: 0 0.75vw; }
   .colorBorderActive { border: 0.11vw solid #273AC7; border-radius: 50%; padding: 0.22vw; }
   .whiteColorBtn { filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) }
   /* SIZE */
   .sizeBtn { 
      border-radius: 0.5vw;
      font-size: 1vw; 
      margin: 0 0.88vw; 
      padding: 0.77vw; 
      width: 3.3vw; 
   }
   .unselectSize { background: white; border: 0.1vw solid #9B9B9B; }
   .selectSize { background: #273AC7; color: white; }
   /* CATEGORY. */
   .ctgBtn { 
      border-radius: 0.5vw;
      font-size: 0.88vw; 
      margin: 0 0.55vw; 
      padding: 0.55vw; 
      width: 7.3vw;
   }
   .unselectCategory { background: white; border: 0.1vw solid #9B9B9B; }
   .selectCategory { background: #273AC7; color: white; }
}

/* MOBILE */
@media(max-width: 768px) {
   .paddingFilter { border-bottom: 0.2vw solid #F4F4F4; padding: 5vw; }
   .filterCategoryText { font-size: 3.8vw; font-weight: bold; }
   .filterOption { justify-content: center; margin-top: 5vw; }
   .filterColorOption { height: 3vw; }
   .filterArrowLeft, .filterArrowRight { height: 5vw; width: 2.5vw; }
   .filterArrowLeft { margin-right: 2.5vw; }
   .filterArrowRight { margin-left: 2.5vw; }
   /* COLOR */
   .colorBtn, .whiteColorBtn { border-radius: 50%; padding: 2.5vw; }
   .colorBtnBorder, .colorBorderActive { margin: 0 1.5vw; }
   .colorBorderActive { border: 0.11vw solid #273AC7; border-radius: 50%; padding: 0.5vw; }
   .whiteColorBtn { filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) }
   /* SIZE */
   .sizeBtn { 
      border-radius: 2.5vw;
      font-size: 3vw; 
      margin: 0 1vw; 
      padding: 2.5vw; 
      width: 10vw; 
   }
   .unselectSize { background: white; border: 0.1vw solid #9B9B9B; }
   .selectSize { background: #273AC7; color: white; }
   /* CATEGORY. */
   .ctgBtn { 
      border-radius: 2.5vw;
      font-size: 3vw; 
      margin: 0 1vw; 
      padding: 1.5vw;
      width: 18vw;
   }
   .unselectCategory { background: white; border: 0.1vw solid #9B9B9B; }
   .selectCategory { background: #273AC7; color: white; }
}