body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Metropolis Regular";
  src: local("Metropolis Regular"),
    url(./assets/Metropolis-Regular.woff) format("woff");
}

@font-face {
  font-family: "Metropolis Medium";
  src: local("Metropolis Medium"),
    url(./assets/Metropolis-Medium.woff) format("woff");
}

@font-face {
  font-family: "Metropolis SemiBold";
  src: local("Metropolis SemiBold"),
    url(./assets/Metropolis-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Metropolis Bold";
  src: local("Metropolis Bold"),
    url(./assets/Metropolis-Bold.woff) format("woff");
}
