.card-checkout {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  margin: 1.5em 0;
}

.card-checkout-sect-1 > img {
  border-radius: 8px;
}
.card-checkout-sect-2 {
  flex-grow: 1;
  padding: 0 2em;
}
.card-checkout-sect-2 > h3 {
  font-weight: 500;
  font-family: "Metropolis Medium";
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}
.card-checkout-sect-2 > p {
  font-weight: 500;
  font-family: "Metropolis Medium";
  font-size: 12px;
  line-height: 12px;
  color: #9b9b9b;
}
.card-checkout-sect-3 > h3 {
  font-weight: 600;
  font-family: "Metropolis SemiBold";
  font-size: 22px;
  line-height: 22px;
  color: #222222;
}

@media (max-width: 575.98px) {
  .card-checkout {
    padding: 1em;
  }
  .card-checkout-sect-2 {
    padding: 0 1em;
  }
}
